.head
{
    background-color: rgb(235, 235, 168);
    text-align: center;
    padding: 20px;
}
.education
{
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
}
.skills
{
    background-color: #C9C9EE;
    padding: 10px;
    margin: 10px;
}
.projects
{   
    background-color: #BAABBD;
    padding: 10px;
    margin: 10px;
}