
    h1{
        font-family: Arial Black;
        color: #ffa511;
        text-align: center;
        letter-spacing: 5px;
        text-size-adjust: 55px ;
        font-weight: 900;
        word-spacing: 2ex;
        line-height: 1.5;
        text-decoration: teal double underline;
        text-transform: uppercase;


        
    }